/**
 * @name shadows theme
 * @author Thanh_vrn
 * @version 1.0
 * @description a shadows theme
*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&display=swap');
@import url('https://raw.githack.com/Ruben7173/Ruben7173.github.io/master/BetterDiscord-Themes/Modules/transparency2.css');
@import url('https://raw.githack.com/VaporousCreeper/BetterDiscord-ThemesAndPlugins/master/Themes/GGO_Kirito/core.css');
:root{
    --background: url('https://github.com/Thanh-vrn1/the-eminence-in-shadows-theme/blob/main/shadow.jpeg?raw=true');
     --activetext-colour: white;
     --primary1-colour: rgba(142, 33, 175, 0.6);
     --primary2-colour: rgba(95, 46, 187, 0.6);
     --primary3-colour: rgba(66, 23, 116, 0.6);
 
     --secondary1-colour:rgba(119, 26, 138, 0.3);
     --secondary2-colour:rgba(100, 100, 100, 0.5);
     --secondary3-colour:rgba(0,0,0,0.5);
 
     --transparency-1: linear-gradient(to right, rgba(94, 11, 97, 0.5), rgba(80, 15, 74, 0.5));
     --transparency-2: linear-gradient(to right, rgba(14, 2, 17, 0.5),  rgba(64, 8, 70, 0.5));
     --transparency-3: linear-gradient(to right, rgba(14, 2, 17, 0.5),  rgba(21, 5, 31, 0.5));
     --transparency-4: linear-gradient(to right, rgba(61, 16, 87, 0.5), rgba(78, 14, 87, 0.5));
     --transparency-5: linear-gradient(to right, rgba(96, 32, 179, 0.5), rgba(68, 24, 82, 0.5));
 }
 

